# Node.js
node_modules/
.env
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
bin/
*.exe
*.test
*.out

# OS
.DS_Store
Thumbs.db

# Docker
*.dockerfile
.dockerignore

# VS Code
.vscode/

# Dev container
.devcontainer/
